<section id="cityflo" class="cd-fixed-bg">
    <div class="container">
        <div class="row">
            <div class="intro-cityflo">
                <div class="header-content">
                    <div class="header-content-inner">

                        <h1>Quick and stress-free daily commute option</h1>
                        <hr>
                        <p>    Point-to-point service from home to work
                            Multiple buses running during peak hours
                            Get chauffeured to work, no more stressful driving
                            Smooth and secure online payment
                            All this and more at the most reasonable rates <br> <i>Get a bus @ Rs 15/km</i></p>
                        <a href="#signinup" class="btn btn-primary btn-xl page-scroll">Join us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>