
<footer>
    <div class="container">
        <div class="row">

            <div class="col-lg-6 text-left">
                <ul class="footer-nav">
                    <li><a href="#">Home</a></li>
                    <li> | </li>
                    <li><a href="#">Refund and Cancellation Policy</a></li>
                    <li> | </li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li> | </li>
                    <li><a href="#">Contact Us</a></li>

                </ul>
            </div>
            <div class="col-lg-6 text-right">
                <p class="copyright">© CityFlo Solutions Pvt. Ltd. All rights reserved.</p>
            </div>

        </div>
    </div>
</footer>
<!-- Bootstrap Core JavaScript -->
<script src="js/lib/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/lib/jquery.easing.min.js"></script>
<script src="js/lib/jquery.fittext.js"></script>
<script src="js/lib/wow.min.js"></script>
<script src="js/lib/jquery.validate.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/lib/creative.js"></script>

</body>

</html>
