<% include header %>
<% include nav %>
<script type="text/javascript" src="js/user/validation.js"></script>
<header id="home">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Routes</h1>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">

                    <p class="text-center">Please choose a route and click on Book Now.</p>
                    <div id="no-more-tables">
                        <table class="col-md-10 col-lg-offset-1 table-bordered table-striped table-condensed cf">

                            <tbody>
                            <tr>
                                <td><i class="fa fa-2x fa-road"></i></td>
                                <td>Mira Road, Mumbai</td>
                                <td  class="numeric">-----></td>
                                <td  class="numeric">BKC, Mumbai</td>
                                <td  class="numeric"><a href="#about" class="btn btn-primary btn-sm page-scroll">Book Now</a></td>

                            </tr>
                            <tr>
                                <td><i class="fa fa-2x fa-road"></i></td>
                                <td>Thane, Mumbai</td>
                                <td class="numeric">-----></td>
                                <td class="numeric">BKC, Mumbai</td>
                                <td class="numeric"><a href="#about" class="btn btn-primary btn-sm page-scroll">Book Now</a></td>

                            </tr>
                            <tr>
                                <td><i class="fa fa-2x fa-road"></i></td>
                                <td>Thane, Mumbai</td>
                                <td class="numeric">-----></td>
                                <td class="numeric">Andheri, Mumbai</td>
                                <td class="numeric"><a href="#about" class="btn btn-primary btn-sm page-scroll">Book Now</a></td>

                            </tr>

                            </tbody>
                        </table>

                        <div class="new-route">
                            <p class="text-center">Did not find your desired route ?</p>
                            <a href="#about" class="btn btn-primary btn-xl page-scroll">I Want New Route!</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Reserved Seat</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Home to Office</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>On Time Service</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Economical</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="cityflo" class="cd-fixed-bg">
    <div class="container">
        <div class="row">
            <div class="intro-cityflo">
                <div class="header-content">
                    <div class="header-content-inner">

                        <h1>Quick and stress-free daily commute option</h1>
                        <hr>
                        <p>    Point-to-point service from home to work
                            Multiple buses running during peak hours
                            Get chauffeured to work, no more stressful driving
                            Smooth and secure online payment
                            All this and more at the most reasonable rates <br> <i>Get a bus @ Rs 15/km</i></p>
                        <a href="#signinup" class="btn btn-primary btn-xl page-scroll">Join us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>-->

<section id="signinup">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sign in/up</h2>
                <hr class="primary">

                <div class="form">

                    <ul class="tab-group">
                        <li class="tab active"><a href="#login">Existing User</a></li>
                        <li class="tab"><a href="#signup">New User</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="login">
                            <h1>Welcome Back!</h1>

                            <form id="loginForm" action='/login_method' method='post' novalidate=''>
                                <% if(message.length > 0){ %>
                                    <span id="reauth-email" class="reauth-email"> The email or password you entered is incorrect. </span>
                                <%}%>
                                <div class="field-wrap">
                                    <label>
                                        Email <span class="req">*</span>
                                    </label>
                                    <input type='email' name='email' autocomplete="off"/>
                                </div>

                                <div class="field-wrap">
                                    <label>
                                        Password<span class="req">*</span>
                                    </label>
                                    <input name="password" type="password" autocomplete="off"/>
                                </div>

                                <p class="forgot"><a href="#">Forgot Password?</a></p>

                                <button type="submit" class="button button-block"/>Sign in</button>

                            </form>

                        </div>


                        <div id="signup">
                            <h1>Sign Up for Free</h1>

                            <form id="signupForm" action='/addUser' method='post' novalidate="">

                                <div class="field-wrap">
                                    <label>
                                        Phone No.<span class="req">*</span>
                                    </label>
                                    <input type="numeric" name="mobile" autocomplete="off"/>
                                </div>

                                <div class="field-wrap">
                                    <label>
                                        Email Address<span class="req">*</span>
                                    </label>
                                    <input type="email" name="email" autocomplete="off"/>
                                </div>

                                <div class="field-wrap">
                                    <label>
                                        Set A Password<span class="req">*</span>
                                    </label>
                                    <input type="password" name="password" autocomplete="off"/>
                                </div>

                                <button type="submit" class="button button-block"/>Sign up</button>

                            </form>

                        </div>

                    </div><!-- tab-content -->

                </div> <!-- /form -->



            </div><!--End col-lg-8-->



        </div>
    </div>
</section>

<% include footer %>