<header id="home">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Routes</h1>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">

                    <p class="text-center">Please choose a route and click on Book Now.</p>
                    <div id="no-more-tables">
                        <table id="staticRoutes" class="col-md-10 col-lg-offset-1 table-bordered table-striped table-condensed cf">

                            <tbody>
                            <tr>
                                <td><i class="fa fa-2x fa-road"></i></td>
                                <td>Mira Road, Mumbai</td>
                                <td  class="numeric">-----></td>
                                <td  class="numeric">BKC, Mumbai</td>
                                <td  class="numeric"><a href="#signinup" class="btn btn-primary btn-sm page-scroll">Book Now</a></td>

                            </tr>
                            <tr>
                                <td><i class="fa fa-2x fa-road"></i></td>
                                <td>Thane, Mumbai</td>
                                <td class="numeric">-----></td>
                                <td class="numeric">BKC, Mumbai</td>
                                <td class="numeric"><a href="#signinup" class="btn btn-primary btn-sm page-scroll">Book Now</a></td>

                            </tr>
                            <tr>
                                <td><i class="fa fa-2x fa-road"></i></td>
                                <td>Thane, Mumbai</td>
                                <td class="numeric">-----></td>
                                <td class="numeric">Andheri, Mumbai</td>
                                <td class="numeric"><a href="#signinup" class="btn btn-primary btn-sm page-scroll">Book Now</a></td>

                            </tr>

                            </tbody>
                        </table>

                        <div class="new-route">
                            <p class="text-center">Did not find your desired route ?</p>
                            <a href="#signinup" class="btn btn-primary btn-xl page-scroll">I Want New Route!</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>